.fieldstyle {
    border: 1px solid #000000;
}

.fieldstyle:focus {
    border: 2px solid #000000;
}

#bgcont {
    /* background: rgb(44,73,102);
    background: radial-gradient(circle, rgba(44,73,102,1) 0%, rgba(255,255,255,1) 100%); */
    background-size: cover;
    background-repeat: no-repeat;
}

.rememtxt {
    font-size: 15px;
}

#forgotpass {
    border: none;
    background-color: white;
}
#loginbox{
    border-radius:20px;
    box-shadow: 2px 2px 12px 1px rgb(0, 0, 0,0.5);
}